body {
    background: #2C2B3D;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1083px;
    height: 30px;
    margin: 71px auto 101px;
}


ul {
    display: flex;
    list-style: none;
    gap: 64px;
}

ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 28px;
    
    font-family: 'JetBrainsmono', monospace;    
}

ul li a:hover{
    font-weight: bold;
}

main {
    display: flex;
    width: 1092px;
    height: 283px;
    gap: 82px;
    align-items: center;
    margin: 0 auto 157px;
}

section {
    width: 604px;
    height: 168px;
    text-align: center;
}

main h2{
    font-family: 'JetBrainsmono', monospace;
    color: white;
    font-size: 36px;
    line-height: 40px;
}

main h2 span {
    color: #00BFA6;

}

main p{
    color: #C2C2C2;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
}

main p span {
    font-weight: bold;
    color: #00BFA6;
}

.line {
    border: 1px solid #00BFA6;

    width: 568px;
    margin: 157px auto 27px;
}

footer {
    font-family: 'JetBrainsmono', monospace;
    color: white;
    margin: auto 356px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: normal;
}

footer a:hover{
    font-weight: bold;
}

#cadeado {

    position: fixed;
    bottom: 20px;
    left: 20px;
}